<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Blockchain Derivative Builder</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>

<body>
    
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/login">Log In</a>
                    </li>
                    <li role="presentation"><a href="/logout">Log Out</a>
                    </li>
                </ul>
            </nav>
        </div>
 
        <div class="jumbotron">
            <h1>Blockchain Derivative Builder</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up</a>
            </p>
        </div>

        <h1>        
        <span>Or Just Get Started Building a Derivative for the Blockchain by Choosing Your Type of Derivative and Blockchain Platform:</span> 
        <h1> 

        <body>
        <p><a href="/futureethereum">Future (Ethereum)</a></p>
        </body>

        <body>
        <p><a href="/optionethereum">Option (Ethereum)</a></p>
        </body>

        <body>
        <p><a href="/swapethereum">Swap (Ethereum)</a></p>
        </body>
 
        <footer class="footer">
            <p>&copy; Bill Marino 2015</p>
        </footer>
 
    </div>
</body>
 
</html>
