<!DOCTYPE html>
<html lang="en">

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='material.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>



<body class="mdl-demo mdl-color--grey-200 mdl-color-text--grey-700 mdl-base">
<div><img src = https://images.unsplash.com/photo-1432821596592-e2c18b78144f?dpr=2&fit=crop&fm=jpg&h=800&q=50&w=1200 id="bgpic" alt=""></div>

<div class="mdl-layout__container has-scrolling-header">

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-tabs is-upgraded" data-upgraded=",MaterialLayout">

<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
<div class="mdl-layout--large-screen-only mdl-layout__header-row">
</div>
<div class="mdl-layout--large-screen-only mdl-layout__header-row">
<h3>Blockchain Futures Contracts</h3>
</div>
<div class="mdl-layout--large-screen-only mdl-layout__header-row">
</div>
<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
<a href="/futureethereum" class="mdl-layout__tab">Create Contract</a>
<a href="#features" class="mdl-layout__tab">Approve Contracts</a>
<a href="/managecontracts" class="mdl-layout__tab is-active">Manage Contracts</a>
</div>
</header>

<main class="mdl-layout__content">

<div class="mdl-layout__tab-panel is-active" id="overview">

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="mdl-card mdl-cell mdl-cell--12-col">
<div class="mdl-card__supporting-text">
<h4>Welcome Zayd</h4>
<p>Your account number: 0xd6aaae06717f25095eab8250369a437e549160a4</p>
<div>Here are your active Smart Contracts:</div>

</div>
</div>
</section>

                
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="mdl-card mdl-cell mdl-cell--12-col">
<div class="mdl-card__supporting-text">
<table width="100%">
        <col style="width:88%">
        <col style="width:12%" align="center">
<tr>
<th> <font size="5">Contract Terms    </font></th>
<th> <font size="5">      Status   </font> </th>
</tr>
<tr><td><br><br><b>Buyer Ethereum Address:</b>       0xd6aaae06717f25095eab8250369a437e549160a4<br><b>Seller Ethereum Address:</b>     0xa8ade7feab1ece71446bed25fa0cf6745c19c3d5<br><b>Ethereum Transaction Address:</b>         g6aaae06717f25095eab8250369a437e549160a4g6aaae06717f25095eab<br><b>Commodity:</b>    
Brent Crude, Barrels<br><b>Units:</b>    1000<br><b>Future Price:</b>    USD 53.05 per Barrel<br><b>Margin:</b>     USD 2.00<br><b>Delivery Date:</b>    January 2, 2016<br><b>Spot Price Source:</b>    New York Mercantile Exchange (NYMEX)<br><br></td><td>    
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="add()">Approve</button></td></tr>

<tr><td><br><br><b>Buyer Ethereum Address:</b>     0xd6aaae06717f25095eab8250369a437e549160a4<br><b>Seller Ethereum Address:</b>     0xa8ade7feab1ece71446bed25fa0cf6745c19c3d5<br><b>Ethereum Transaction Address:</b>        l6ytye06717f25095eab8250369a437e549160a4g6aaae06717f25095ppp<br><b>Commodity:</b>    
Arabica Coffee, Tons<br><b>Units:</b>    100<br><b>Future Price:</b>    USD 205.75 per Ton<br><b>Margin:</b>     USD 72.79<br><b>Delivery Date:</b>    January 8, 2016<br><b>Spot Price Source:</b>     Chicago Board of Trade (CBOT)<br><br></td><td>    
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="add()">Cancel</button></td></tr>
</table>

</div>
</div>
</section>

</div>

</main>

</div>
</div>

</body>
</html>

