<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='material.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/login">Log In</a>
                    </li>
                    <li role="presentation"><a href="/logout">Log Out</a>
                    </li>
<li role="presentation"><a href="/register">Register</a>
                    </li>
                </ul>
            </nav>
        </div>

  <h1>Manage Contracts</h1>

<table>
   <tr>
        <th> Buyer Ethereum Address:    </th>
        <td> 0x036a03fc47084741f83938296a1c8ef67f6e34fa</td>
        <th> Seller Ethereum Address:    </th>
        <td> 0xa8ade7feab1ece71446bed25fa0cf6745c19c3d5</td>
        <th> Ethereum Transaction Address:    </th>
        <td> g6aaae06717f25095eab8250369a437e549160a4g6aaae06717f25095eab </td>
        <th> Commodity:    </th>
        <td> Nachos, Barrels </td>
        <th> Units:    </th>
        <td> 1000 </td>
        <th> Future Price:    </th>
        <td> 33 USD per Barrel</td>
        <th> Margin:    </th>
        <td> 2 </td>
        <th> Delivery Date:    </th>
        <td> January 2, 2016 </td>
        <th> Spot Price Source:    </th>
        <td> New York Mercantile Exchange  (NYMEX) </td>
   </tr>
   <tr>
        <th> Buyer Ethereum Address:    </th>
        <td> 0x036a03fc47084741f83938296a1c8ef67f6e34fa</td>
        <th> Seller Ethereum Address:    </th>
        <td> 0xa8ade7feab1ece71446bed25fa0cf6745c19c3d5</td>
        <th> Ethereum Transaction Address:    </th>
        <td> g6aaae06717f25095eab8250369a437e549160a4g6aaae06717f25095eab </td>
        <th> Commodity:    </th>
        <td> Bunny Skulls, Tons </td>
        <th> Units:    </th>
        <td> 1 </td>
        <th> Future Price:    </th>
        <td> 3 USD per Ton</td>
        <th> Margin:    </th>
        <td> .25 </td>
        <th> Delivery Date:    </th>
        <td> November 15, 2016 </td>
        <th> Spot Price Source:    </th>
        <td> Chicago Board of Trade (CBOT) </td>
   </tr>

    </body>

</table>

</html>

