<!DOCTYPE html>
<html lang="en">

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='material.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>



<body class="mdl-demo mdl-color--grey-200 mdl-color-text--grey-700 mdl-base">
<div><img src = https://images.unsplash.com/photo-1432821596592-e2c18b78144f?dpr=2&fit=crop&fm=jpg&h=800&q=50&w=1200 id="bgpic" alt=""></div>

<div class="mdl-layout__container has-scrolling-header">

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-tabs is-upgraded" data-upgraded=",MaterialLayout">

<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
<div class="mdl-layout--large-screen-only mdl-layout__header-row">
</div>
<div class="mdl-layout--large-screen-only mdl-layout__header-row">
<h3>Blockchain Futures Contracts</h3>
</div>
<div class="mdl-layout--large-screen-only mdl-layout__header-row">
</div>
<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
<a href="#overview" class="mdl-layout__tab is-active">Create Contract</a>
<a href="#features" class="mdl-layout__tab">Approve Contracts</a>
<a href="#features" class="mdl-layout__tab">Manage Contracts</a>
</div>
</header>

<main class="mdl-layout__content">

<div class="mdl-layout__tab-panel is-active" id="overview">

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="mdl-card mdl-cell mdl-cell--12-col">
<div class="mdl-card__supporting-text">
<h1>Manage Contracts</h1>
</div>
</div>
</section>

                
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="mdl-card mdl-cell mdl-cell--12-col">
<div class="mdl-card__supporting-text">
<table>
   <tr>
        <th> Buyer Ethereum Address:    </th>
        <td> 0x036a03fc47084741f83938296a1c8ef67f6e34fa</td>
        <th> Seller Ethereum Address:    </th>
        <td> 0xa8ade7feab1ece71446bed25fa0cf6745c19c3d5</td>
        <th> Ethereum Transaction Address:    </th>
        <td> g6aaae06717f25095eab8250369a437e549160a4g6aaae06717f25095eab </td>
        <th> Commodity:    </th>
        <td> Brent Crude, Barrels </td>
        <th> Units:    </th>
        <td> 1000 </td>
        <th> Future Price:    </th>
        <td> 33.05 USD per Barrel</td>
        <th> Margin:    </th>
        <td> 2 </td>
        <th> Delivery Date:    </th>
        <td> January 2, 2016 </td>
        <th> Spot Price Source:    </th>
        <td> New York Mercantile Exchange  (NYMEX) </td>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="add()">Approve</button>
   </tr>
   <tr>
        <th> Buyer Ethereum Address:    </th>
        <td> 0x036a03fc47084741f83938296a1c8ef67f6e34fa</td>
        <th> Seller Ethereum Address:    </th>
        <td> 0xa8ade7feab1ece71446bed25fa0cf6745c19c3d5</td>
        <th> Ethereum Transaction Address:    </th>
        <td> g6aaae06717f25095eab8250369a437e549160a4g6aaae06717f25095eab </td>
        <th> Commodity:    </th>
        <td> Gold, Troy Ounces </td>
        <th> Units:    </th>
        <td> 100 </td>
        <th> Future Price:    </th>
        <td> 386.13 USD per Ton</td>
        <th> Margin:    </th>
        <td> .25 </td>
        <th> Delivery Date:    </th>
        <td> November 15, 2016 </td>
        <th> Spot Price Source:    </th>
        <td> Chicago Board of Trade (CBOT) </td>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="add()">Cancel</button>
   </tr>
</table>
</div>
</div>
</section>

</div>

</main>

</div>
</div>

</body>
</html>

