<!DOCTYPE html>
<html lang="en">

<head>
    <link rel=stylesheet type=text/css
          href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-deep_purple.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<script type="text/javascript">
    function add() {
        document.getElementById("sect").style["display"] = "none";
        document.getElementById("sect2").style["display"] = "block";
    }
    function goback()
    {
        window.location= "market"
    }
</script>

<body class="mdl-demo mdl-color--grey-200 mdl-color-text--grey-700 mdl-base">
<div class="mdl-layout__container has-scrolling-header">
    <div><img src=http://netdna.webdesignerdepot.com/uploads/2015/07/animated-low-poly-svg-background-generator.jpg
              id="bgpic" alt=""></div>
    <div class="mdl-layout mdl-js-layout is-upgraded">
        <header class="mdl-layout__header mdl-layout__header--transparent mdl-layout__header--scroll">
            <div class=" mdl-layout__header-row">
                <span class="mdl-layout-title">    Blockchain Futures Contracts</span>
                <!-- Add spacer, to align navigation to the right in desktop -->
                <div class="android-header-spacer mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <div id="tt1" class="icon material-icons">help</div>
                    <div class="mdl-tooltip mdl-tooltip--large"
                         data-upgraded=", MaterialTooltip,MaterialButton,MaterialRipple" for="tt1">
                        Click the check to approve<br><br>Click "X" to reject
                    </div> &nbsp;&nbsp;&nbsp;&nbsp;
                </nav>
            </div>
        </header>

        <div class="demo-drawer mdl-layout__drawer mdl-color--indigo mdl-color-text--blue-grey-50">
            <header class="demo-drawer-header">
                <img src="https://www.egr.uh.edu/sites/www.egr.uh.edu/files/enews/2014/images/0114nzeocha.jpg"
                     class="demo-avatar">

                <div class="demo-avatar-dropdown">
                    <span>nwams@cornell.com</span>

                    <div class="mdl-layout-spacer"></div>
                </div>
            </header>
            <nav class="demo-navigation mdl-navigation mdl-color--white">
                <a class="mdl-navigation__link" href="/futureethereum"><i class="mdl-color-text--blue-grey-400 material-icons"
                                                                    role="presentation">add</i>New Contract</a>
                <a class="mdl-navigation__link" href="/futureethereum"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">work</i>Manage</a>
                <a class="mdl-navigation__link" href="/managecontracts"><i
                        class="mdl-color-text--blue-grey-400 material-icons"
                        role="presentation">assignment_turned_in</i>Approved</a>
                <a class="mdl-navigation__link" href="/managecontracts"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Rejected</a>
                <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons"
                                                           role="presentation">account_balance</i>Balance</a>
                <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons"
                                                           role="presentation">account_circle</i>Profile</a>
                <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons"
                                                           role="presentation">help_outline</i>Contact us</a>
            </nav>
        </div>

        <main class="mdl-layout__content">
            <section id="sect" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

                <div class="mdl-card mdl-cell mdl-cell--12-col" style="margin-top: 40px">
                    <div class="mdl-card__supporting-text" style="margin-bottom: 0px">
                        <table width="100%">
                            <col style="width:88%">
                            <col style="width:12%" align="center">
                            <tr>
                                <th><h4>Marketplace</h4></th>
                            </tr>
                        </table>
                        <p>These are the commodities currently avaliable to be bought or sold</p>
                    </div>
                    <h4 style="margin-left: 40px">Buy</h4>
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp full-width" style="width: 100%; margin-bottom: 30px">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric full-width">Material</th>
                          <th>Execution date</th>
                          <th>Quantity</th>
                          <th>Unit price</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Wheat (Kansas)</td>
                          <td>11-25-2015</td>
                          <td>25 bushels</td>
                          <td>$4.90</td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Corn</td>
                          <td>11-25-2015</td>
                          <td>50 bushels</td>
                          <td>$1.25</td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Soybean Oil</td>
                          <td>11-30-2015</td>
                          <td>10 pounds</td>
                          <td>$6.35</td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Ethanol</td>
                          <td>12-13-2015</td>
                          <td>7 pounds</td>
                          <td>$7.85</td>
                        </tr>
                      </tbody>
                    </table>
                    <h4 style="margin-left: 40px">Sell</h4>
                    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp full-width" style="width: 100%">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric full-width">Material</th>
                          <th>Execution date</th>
                          <th>Quantity</th>
                          <th>Unit price</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Wheat (Kansas)</td>
                          <td>11-25-2015</td>
                          <td>25 bushels</td>
                          <td>$4.90</td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Corn</td>
                          <td>11-25-2015</td>
                          <td>50 bushels</td>
                          <td>$1.25</td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Soybean Oil</td>
                          <td>11-30-2015</td>
                          <td>10 pounds</td>
                          <td>$6.35</td>
                        </tr>
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">Ethanol</td>
                          <td>12-13-2015</td>
                          <td>7 pounds</td>
                          <td>$7.85</td>
                        </tr>
                      </tbody>
                    </table>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                            onclick="add()"
                                            style="margin-bottom: 26px; margin-top: 40px; float: right; display: block;margin-right: 4px; background: #4CAF50;">
                                        Perform transactions
                                    </button>
                </div>
            </section>
            <section id="sect2" style="display: none" class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

                <div class="mdl-card mdl-cell mdl-cell--12-col" style="margin-top: 40px">
                    <div class="mdl-card__supporting-text" style="margin-bottom: 0px">

                        <p style="text-align: center">Transactions sent to Ethereum. </p>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                            onclick="goback()"
                                            style="margin-bottom: 26px; margin-top: 40px; float: right; display: block;margin-right: 4px; background: #477A98;">
                                        Make another transaction
                                    </button>
                    </div>

                </div>
            </section>

        </main>

    </div>
</div>

</body>
</html>

