<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Blockchain Derivatives Builder</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Blockchain Derivatives Builder</h3>
        </div>


        <h1>
        <span>Swap Contract</span> 
        </h1>


	<form>
        Promisor:<br>
  	<input type="text" name="promisor"><br>
        Grants the Promisee:<br>
  	<input type="text" name="Last trading date"><br>
        The right to purchase from Promisor<br>
  	Number of units:<br>
  	<input type="text" name="number_of_units"><br>
        </form>

        <select>
        <option value="gallons">Gallons</option>
        <option value="bbls">Barrels</option>
        </select>

        <select>
        <option value="corn">Corn</option>
        <option value="cocoa">Cocoa</option>
        </select>
  	<br>
        </form>
        On or before the last trading date:<br>
  	<input type="text" name="last_trading_date"><br>
	</form>

 
        <footer class="footer">
            <p>&copy; Bill Marino 2015</p>
        </footer>
 
    </div>
</body>
 
</html>